<div class="container mt-5">
    <form [formGroup]="employeeForm">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input char-only type="text" class="form-control" formControlName="name" 
          [ngClass]="{'invalid': employeeForm.get('name').invalid && employeeForm.get('name').touched, 'valid':employeeForm.get('name').valid}">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Age</label>
            <input type="number" class="form-control" formControlName="age" [ngClass]="{'invalid': employeeForm.get('age').invalid && employeeForm.get('age').touched, 'valid':employeeForm.get('age').valid}">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Salary</label>
            <input type="email" class="form-control" formControlName="salary"  [ngClass]="{'invalid': employeeForm.get('salary').invalid && employeeForm.get('salary').touched, 'valid':employeeForm.get('salary').valid}">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">States</label>
            <select class="form-select addwidth" aria-label="Default select example" formControlName="state">
                <option *ngFor="let state of states" [value]="state.state_id">{{state.state_name}}</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Districts</label>
            <select class="form-select addwidth" aria-label="Default select example" formControlName="district">
                <option *ngFor="let districts of district" [value]="districts.district_id">{{districts.district_name}}</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Centers</label>
            <select class="form-select addwidth" aria-label="Default select example" formControlName="centers">
                <option *ngFor="let center of centers">{{center.name}}</option>
            </select>
        </div>
        <button type="button" class="btn btn-primary" (click)='addEmployee()'>Submit</button>
    </form>
</div>