{{employeeDetails | json}}
<br>
<div class="container mt-5">
    <form [formGroup]="editForm">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Salary</label>
            <input type="email" class="form-control" formControlName="salary">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Age</label>
            <input type="number" class="form-control" formControlName="age">
        </div>
        <button type="button" class="btn btn-primary" (click)='editEmployee()'>Edit Employee</button>
        <button class="btn btn-primary m-2" (click)="goto()"> Goto Button</button>
    </form>
</div>
